################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SXOS Hidden Emunand Backup/.vs/SXOS Hidden Emunand Backup/v16/Server/sqlite3
